/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Common styling */
.grey {
  color: #666;
}

.cap {
  text-transform: capitalize;
}

.up {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.transition {
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 91.46%;
  margin: 0 auto;
}

.text-cap {
  text-transform: capitalize;
}

.text-small {
  text-transform: lowercase;
}

.text-upper {
  text-transform: uppercase;
}

/*=================================
  Header styling starts here
=================================*/
header {
  margin: 35px 2%;
  position: relative;
}

header>.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo-div {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 5%;
}

.logo {
  position: absolute;
  left: 3%;
}

/*styling for hamburger start here*/
.hamburger,
.bar {
  display: none;
}

/*styling for hamburger end here*/

/*styling for nav bar start here*/
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 30%;
}

.nav-list li {
  margin: 0 3%;
  color: #000;
  font-size: 15px;
  text-transform: capitalize;
}

.nav-list li a {
  color: #FFF;
}

/*styling for pages tab start here*/
.pages-dropdown {
  overflow: hidden;
}

.pages-dropbtn {
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

.pages-dropbtn::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free ";
  text-indent: 0;
}

.pages-dropdown .pages-dropbtn {
  border: none;
  margin: 0;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 15px;
}

.pages-dropdown-content {
  min-width: 25%;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #000;
}

.pages-dropdown-content div a {
  padding: 5px 15%;
  display: block;
  color: #FFF;
  text-align: left;
  text-decoration: none;
}

/*styling for pages tab end here*/

/*styling for blog tab start here*/
.blog-dropdown {
  overflow: hidden;
}

.blog-dropbtn {
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

.blog-dropbtn::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free ";
  text-indent: 0;
}

.blog-dropdown .blog-dropbtn {
  border: none;
  margin: 0;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 15px;
}

.blog-dropdown-content {
  min-width: 25%;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #000;
}

.blog-dropdown-content div a {
  padding: 5px 15%;
  display: block;
  color: #FFF;
  text-align: left;
  text-decoration: none;
}

/*styling for blog tab end here*/
/*styling for nav bar end here*/

/*styling for phone no start here*/
.phone-no {
  display: block;
  position: absolute;
  right: 15%;
}

.phone-no a {
  color: #FFF;
  font-size: 15px;
}

.phone-no a::before {
  content: "\f095";
  font-family: "fontAwesome";
  text-indent: 0;
  color: #34D4D6;
}

/*styling for phone no start here*/

/*styling for apply for loan start here*/
.apply-for-loan-btn {
  position: absolute;
  right: 5%;
}

.apply-for-loan-btn a {
  width: 100%;
  padding: 10px 15%;
  border: 1px solid #34D4D6;
  background: transparent;
  color: #34D4D6;
  font-size: 10px;
  text-transform: capitalize;
}

/*styling for apply for loan end here*/
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
.banner>.wrapper {
  height: 785px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("/assets/Images/finloans-banner-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner>.wrapper {
  width: 100%;
}

/*styling for banner heading section start here*/
.banner-heading {
  width: 40%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner-heading h2 {
  width: 100%;
  margin: 40px 0;
  color: #FFF;
  font-size: 50px;
  text-transform: capitalize;
}

.how-it-works-btn a {
  padding: 10px 7%;
  background-color: #34D4D6;
  border-radius: 5px;
  color: #FFF;
  text-transform: capitalize;
}

/*styling for banner heading section start here*/

/*styling for banner form section start here*/
.banner-form {
  background-color: #FFF;
  border-radius: 5px;
}


.banner-form h4 {
  margin: 50px 10% 25px 10%;
  font-size: 22px;
  text-align: center;
}

.banner-form h4::first-letter {
  text-transform: capitalize;
}

.bf-span {
  margin: 25px 10%;
  color: #98A0AD;
  font-size: 15px;
}

.banner-form form {
  margin: 24px 13%;
}

.input-amount {
  width: 100%;
  height: 35px;
  margin: 10px 0;
}

.input-amount select {
  width: 100%;
  height: 35px;
  padding: 0 3%;
  border: 1px solid #98A0AD;
  border-radius: 5px;
  color: #98A0AD;
  font-size: 15px;
  text-transform: capitalize;
}

.input-month {
  width: 100%;
  height: 35px;
  margin: 10px 0;
}

.input-month select {
  width: 100%;
  height: 35px;
  padding: 0 3%;
  border: 1px solid #98A0AD;
  border-radius: 5px;
  color: #98A0AD;
  font-size: 15px;
  text-transform: capitalize;
}

.input-submit {
  height: 35px;
  margin: 30px 0;
}

.input-submit input {
  width: 100%;
  height: 100%;
  background-color: #34D4D6;
  border: 1px solid #34D4D6;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
}

/*styling for banner form section end here*/

/*styling for offer section start here*/
.offer-content {
  margin: 140px 0;
}

.offer .wrapper h3 {
  padding: 20px 0;
  border-top: 2px solid #34D4D6;
  font-size: 45px;
  text-align: center;
}

.offer .wrapper h3::first-letter {
  text-transform: capitalize;
}

.offer-span {
  margin: 15px 0;
  color: #98A0AD;
  font-size: 17px;
  text-align: center;
}

.loan-card-list {
  margin: 45px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.loan-card {
  width: 25%;
  padding: 14px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#098BFD), to(#054781));
  background-image: -o-linear-gradient(#098BFD, #054781);
  background-image: linear-gradient(#098BFD, #054781);
  border-radius: 5px;
}

.loan-card figure {
  margin: 40px 0;
  text-align: center;
}

.loan-card figure img {
  width: auto;
}

.loan-card h4 {
  color: #FFF;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
}

.loan-card-span {
  margin: 20px 0 60px 0;
  text-align: center;
  color: #34D4D6;
  font-size: 25px;
}

.loan-rate-list {
  margin: 25px 12%;
  color: #FFF;
  font-size: 15px;
}

.loan-rate-list li {
  margin: 5px 2%;
  display: list-item;
  list-style-type: disc;
}

.offer-apply-now-btn {
  margin: 35px 0;
  text-align: center;
}

.offer-apply-now-btn a {
  padding: 10px 25%;
  background-color: #34D4D6;
  border: 1px solid #34D4D6;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

/*styling for offer section end here*/

/*styling for why choose us section start here*/
.choose-us {
  margin: 130px 0;
}

.cu-div {
  margin: 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cu-girl-img,
.cu-side-div {
  width: 50%;
  padding: 15px;
}

.cu-girl-img img {
  max-width: 470px;
  max-height: 510px;
  padding: 0;
}

.cu-side-div h3 {
  margin-top: 75px;
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: capitalize;
}

.cu-side-div p {
  width: 70%;
  margin: 10px 0;
  font-size: 15px;
  color: #98A0AD;
}

.cu-advantage-list {
  margin: 30px 0;
}

.cu-advantage-list li {
  display: block;
  line-height: 30px;
}

.cu-advantage-list li::before {
  padding-right: 2%;
  color: #098CFF;
  content: "\e122";
  font-family: "Font Awesome 5 Free ";
  text-indent: 0;
}

.cu-advantage-list li::first-letter {
  text-transform: capitalize;
}

.cu-about-us-btn a {
  padding: 10px 4%;
  background-color: #34D4D6;
  border: 1px solid #34D4D6;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

/*styling for why choose us section end here*/

/*styling for how it works section start here*/
.how-it-works .wrapper {
  background-color: #F5FBFF;
}

.hiw-div {
  padding: 140px 0;
}

.hiw-div h3 {
  padding: 15px 0;
  border-top: 2px solid #34D4D6;
  font-size: 45px;
  text-align: center;
  text-transform: capitalize;
}

.hiw-span {
  margin: 10px 0;
  color: #98A0AD;
  font-size: 17px;
  text-align: center;
}

.hiw-list {
  padding: 0 10%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hiw-list-span {
  margin: 40px 0;
}

.hiw-list-span span {
  padding: 25px;
  background-color: #DDF0FF;
  border-radius: 40px;
  color: #098CFF;
}

.hiw-list h4 {
  font-size: 20px;
}

.hiw-list h4::first-letter {
  text-transform: capitalize;
}

.hiw-list p {
  width: 85%;
  margin: 15px 0;
  font-size: 15px;
  color: #98A0AD;
}

/*styling for how it works section end here*/

/*styling for frequently ask section start here*/
.fa-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-man-image,
.fa-side-div {
  width: 50%;
}

.fa-side-div h3 {
  margin: 120px 0 40px 10%;
  font-size: 35px;
}

.fa-side-div h3::first-letter {
  text-transform: capitalize;
}

.fa-side-div h4 {
  margin: 20px 0 30px 15%;
  font-size: 17px;
}

.fa-side-div h4::before {
  padding-right: 15px;
  content: "\f107";
  font-family: "Font Awesome 5 Free ";
  text-indent: 0;
}

.line-after::after {
  width: 30%;
  height: 1px;
  margin-top: 15px;
  display: block;
  position: absolute;
  content: " ";
  background: #98A0AD;
}

.fa-side-div p {
  margin: 30px 17%;
  color: #98A0AD;
  font-size: 13px;
}

.fa-hide-para {
  display: none;
}

/*styling for frequently ask section end here*/

/*styling for testimonian section start here*/
.test-container {
  width: 100%;
  margin: 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-li-1 {
  width: 80%;
  height: 200px;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test-li-2 {
  width: 20%;
  height: 200px;
  padding-right: 10%;
}

.test-li-1 figure {
  width: 100%;
  height: 100%;
}

.test-side-div p {
  width: 80%;
  margin: 30px 0;
  font-size: 15px;
  line-height: 23px;
}

.test-side-div span {
  color: #98A0AD;
  text-transform: capitalize;
  font-size: 15px;
}

.profile-img img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 105px;
}

.test-li-2 div {
  margin: 40px 0;
  text-align: center;
}

.test-li-2 a {
  color: #FFF;
  font-size: 30px;
}

.next-btn::after {
  padding: 50%;
  border-radius: 40px;
  background-color: #E6F3FF;
  color: #098CFF;
  content: "\f105";
  font-family: "Font Awesome 5 Free ";
  text-indent: 0;
}

.prev-btn::after {
  padding: 50%;
  border-radius: 40px;
  background-color: #E6F3FF;
  color: #098CFF;
  content: "\f104";
  font-family: "Font Awesome 5 Free ";
  text-indent: 0;
}

/*styling for testimonian section end here*/

/*styling for clients section start here*/
.clients-list {
  margin: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*styling for clients section end here*/

/*styling for apply for loan section start here*/
.apply-for-loan {
  margin: 130px 0;
}

.afl-bg-img {
  padding: 155px 0;
  margin: 130px 0;
  background-image: url(/assets/Images/finloans-afl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.afl-heading {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  font-size: 30px;
  color: #FFF;
}

.afl-heading::first-letter {
  text-transform: capitalize;
}

.afl-apply-now-btn {
  padding-left: 33%;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.afl-apply-now-btn a {
  padding: 10px 15%;
  background-color: #34D4D6;
  border: 1px solid #34D4D6;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

/*styling for apply for loan section end here*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
/*styling for footer-top start here*/
.footer-conrainer {
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*styling for footer fit loan section start here*/
.ft-finloans {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ft-email {
  margin-top: 40px;
}

.ft-email a {
  color: #98A0AD;
  font-size: 15px;
}

.ft-phone-no {
  margin: 5px 0;
}

.ft-phone-no a {
  color: #98A0AD;
  font-size: 15px;
}

.ft-phone-no a:hover {
  color: #098CFF;
  text-decoration: underline;
}

.ft-address {
  margin-bottom: 5px;
}

.ft-address span {
  color: #98A0AD;
  font-size: 15px;
}

.ft-social-link-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ft-social-link-list li a {
  color: #FFF;
}

.fb-icon a::after {
  padding: 12px;
  margin: 10px 2%;
  border: 1px solid #98A0AD;
  border-radius: 25px;
  content: "\f39e";
  color: #98A0AD;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

.gp-icon a::after {
  padding: 12px;
  margin: 10px 2%;
  border: 1px solid #98A0AD;
  border-radius: 25px;
  content: "\f0d5";
  color: #98A0AD;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

.tw-icon a::after {
  padding: 12px;
  margin: 10px 2%;
  border: 1px solid #98A0AD;
  border-radius: 25px;
  content: "\f099";
  color: #98A0AD;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

.in-icon a::after {
  padding: 12px;
  margin: 10px 2%;
  border: 1px solid #98A0AD;
  border-radius: 25px;
  content: "\f16d";
  color: #98A0AD;
  font-size: 15px;
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

/*styling for footer fit loan section end here*/

/*styling for footer services start here*/
.ft-services {
  width: 20%;
}

.ft-services h5 {
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.ft-services-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ft-services-list li {
  margin: 10px 0;
}

.ft-services-list li a {
  color: #98A0AD;
  font-size: 13px;
  text-transform: capitalize;
}

/*styling for footer services start here*/

/*styling for footer usefull links start here*/
.ft-useful-links {
  width: 20%;
}

.ft-useful-links h5 {
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.useful-links {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.useful-links li {
  margin: 10px 0;
}

.useful-links li a {
  color: #98A0AD;
  font-size: 13px;
  text-transform: capitalize;
}

/*styling for footer usefull links start here*/

/*styling for footer subscribe start here*/
.ft-subscribe {
  width: 40%;
}

.ft-subscribe h5 {
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

.ft-subscribe form {
  margin-top: 40px;
}

.ft-form-input {
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #98A0AD;
  border-radius: 5px;
}

.ft-form-input input {
  padding: 10px 0 10px 3%;
  border: none;
  font-size: 15px;
}

.ft-form-input a {
  padding: 10px 2%;
  background-color: #098CFF;
  border: 1px solid #098CFF;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

.ft-subscribe p {
  width: 70%;
  margin: 20px 0;
  color: #98A0AD;
  font-size: 15px;
}

/*styling for footer subscribe start here*/
/*styling for footer-top end here*/

/*styling for footer-bottom start here*/
.footer-bottom {
  margin-top: 105px;
  margin-bottom: 50px;
}

.fb-span {
  color: #98A0AD;
  font-size: 15px;
  text-align: center;
}

.fb-span>span::first-letter {
  text-transform: capitalize;
}

.fb-span span a {
  color: #098CFF;
  text-transform: capitalize;
}

.heart-icon::before {
  content: "\f184";
  font-family: " Font Awesome 5 Brands ";
  text-indent: 0;
}

/*styling for footer-bottom end here*/


/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 1210px start here*/
@media only screen and (max-width: 1210px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 23%;
  }

  .bf-span {
    padding: 0 5%;
    margin-top: 30px;
    color: #98A0AD;
    font-size: 15px;
  }

  .loan-rate-list {
    margin: 25px 6%;
    color: #FFF;
    font-size: 15px;
  }
}

/*media query for 1210px end here*/

/*media query for 1025px start here*/
.loan-rate-list {
  margin: 25px 2%;
  color: #FFF;
  font-size: 14px;
}

.test-side-div p {
  width: 80%;
  margin: 30px 10%;
  font-size: 15px;
  line-height: 23px;
}

.test-side-div span {
  margin: 0 10%;
  color: #98A0AD;
  text-transform: capitalize;
  font-size: 15px;
}

.cu-side-div h3 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: capitalize;
}

.fa-side-div h3 {
  margin: 55px 0 40px 10%;
  font-size: 35px;
}

.clients-list li {
  margin: 0 1%;
}

.afl-apply-now-btn a {
  padding: 10px 10%;
  background-color: #34D4D6;
  border: 1px solid #34D4D6;
  border-radius: 5px;
  color: #FFF;
  font-size: 15px;
  text-transform: capitalize;
}

/*media query for 1025px end here*/

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {

  /*hover effect for nav bar start here*/
  .nav-list li a:hover {
    color: #34D4D6;
    padding-bottom: 5px;
    border-bottom: 1px solid #34D4D6;
  }

  /*hover effect for nav bar start here*/

  /*hover effect for pages nav tab start here*/
  .pages-dropdown-content div a:hover {
    background-color: #34D4D6;
    color: #FFF;
  }

  .pages-dropbtn:hover {
    border-bottom: 1px solid #34D4D6;
    color: #34D4D6;
  }

  .pages-dropdown:hover .pages-dropdown-content {
    display: block;
  }

  /*hover effect for pages nav tab end here*/

  /*hover effect for blog nav tab start here*/
  .blog-dropdown-content div a:hover {
    background-color: #34D4D6;
    color: #FFF;
  }

  .blog-dropbtn:hover {
    border-bottom: 1px solid #34D4D6;
    color: #34D4D6;
  }

  .blog-dropdown:hover .blog-dropdown-content {
    display: block;
  }

  /*hover effect for blog nav tab end here*/

  /*hover effect for phone number start here*/
  .phone-no a:hover {
    border-bottom: 1px solid #34D4D6;
    color: #34D4D6;
  }

  /*hover effect for phone number end here*/

  /*hover effect for apply for loan start here*/
  .apply-for-loan-btn a:hover {
    background-color: #34D4D6;
    color: #FFF;
  }

  /*hover effect for apply for loan start here*/

  /*hover effect for how it works btn start here*/
  .how-it-works-btn a:hover {
    background-color: #FFF;
    color: #34D4D6;
  }

  /*hover effect for how it works btn end here*/

  /*hover effect for banner form start here*/
  .input-amount select:hover {
    border: 1px solid #34D4D6;
    color: #34D4D6;
  }

  .input-month select:hover {
    border: 1px solid #34D4D6;
    color: #34D4D6;
  }

  .input-submit input:hover {
    background-color: #FFF;
    color: #34D4D6;
  }

  /*hover effect for banner form end here*/

  /*hover effect for about us btn in choose us start here*/
  .cu-about-us-btn a:hover {
    background-color: #FFF;
    color: #34D4D6;
  }

  /*hover effect for about us btn in choose us end here*/

  /*hover effect for apply btn start here*/
  .afl-apply-now-btn a:hover {
    background-color: #FFF;
    color: #34D4D6;
  }

  /*hover effect for apply btn end here*/

  /*hover effect for footer start here*/
  .ft-email a:hover {
    color: #098CFF;
    text-decoration: underline;
  }

  .ft-phone-no a:hover {
    color: #098CFF;
    text-decoration: underline;
  }

  .ft-social-link-list li a:hover::after {
    color: #098CFF;
    border: 1px solid #098CFF;
  }

  .ft-services-list li a:hover {
    color: #098CFF;
    text-decoration: underline;
  }

  .useful-links li a:hover {
    color: #098CFF;
    text-decoration: underline;
  }

  .ft-form-input a:hover {
    background-color: #FFF;
    color: #098CFF;
  }

  .fb-span span a:hover {
    color: #098BFD;
    text-decoration: underline;
  }

  /*hover effect for footer end here*/
}

/*media query for 1024px end here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /*styling for hamburger start here*/
  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    display: block;
    background-color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-indent: -9999px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: -2%;
  }

  nav {
    width: 100%;
    display: none;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #098CFF;
  }

  .nav-list {
    padding: 37px 0 37px 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 85%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .nav-list li {
    margin-bottom: 4px;
    padding-bottom: 3px;
    border-right: none;
    border-bottom: 1px solid #FFF;
  }

  .nav-list li a {
    color: white;
    font-size: 15px;
    text-transform: capitalize;
  }

  .nav-list li a:hover {
    background-color: #FFF;
    color: #098CFF;
  }

  .pages-dropbtn:hover {
    background-color: #FFF;
    color: #098CFF;
  }

  .blog-dropbtn:hover {
    background-color: #FFF;
    color: #098CFF;
  }

  .hamburger:hover+nav {
    display: block;
  }

  .phone-no {
    display: block;
    position: absolute;
    left: 33%;
    padding: 12px 0;
  }

  .apply-for-loan-btn {
    position: absolute;
    right: 22%;
  }

  .loan-card-list {
    margin: 45px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .loan-card {
    width: 40%;
    padding: 14px;
    margin: 20px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#098BFD), to(#054781));
    background-image: -o-linear-gradient(#098BFD, #054781);
    background-image: linear-gradient(#098BFD, #054781);
    border-radius: 5px;
  }

  .loan-rate-list li {
    margin: 5px 18%;
    display: list-item;
    list-style-type: disc;
  }

  .cu-side-div h3 {
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 40px;
    text-transform: capitalize;
  }

  .fa-side-div h3 {
    margin: 40px 0 40px 10%;
    font-size: 35px;
  }

  .afl-apply-now-btn a {
    padding: 10px 8%;
    background-color: #34D4D6;
    border: 1px solid #34D4D6;
    border-radius: 5px;
    color: #FFF;
    font-size: 15px;
    text-transform: capitalize;
  }
}

/*media query for 995px end here*/

/*media query for 767px starts here*/
@media only screen and (max-width: 767px) {

  /*styling for hamburger start here*/
  .banner>.wrapper {
    height: 785px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: -1;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(/assets/Images/finloans-banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .banner-heading {
    text-align: center;
    margin: 30px 25%;
  }

  .banner-heading h2 {
    color: #FFF;
    font-size: 35px;
    text-transform: capitalize;
  }

  .how-it-works-btn a {
    margin: 20px 0;
    padding: 10px 7%;
    background-color: #34D4D6;
    border-radius: 5px;
    color: #FFF;
    text-transform: capitalize;
  }

  .loan-rate-list {
    margin: 25px -10%;
    color: #FFF;
    font-size: 14px;
  }

  .cu-div {
    margin: 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cu-side-div h3 {
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
  }

  .cu-side-div p {
    margin: 10px 10%;
    font-size: 15px;
    color: #98A0AD;
    text-align: center;
  }

  .cu-advantage-list {
    margin: 30px 0;
  }

  .cu-about-us-btn {
    text-align: center;
  }

  .hiw-list {
    padding: 0 10%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hiw-list p {
    margin: 15px 0;
    font-size: 15px;
    color: #98A0AD;
  }

  .fa-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .test-container {
    width: 100%;
    margin: 125px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .test-li-1 {
    height: 200px;
    padding-left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .clients-list {
    margin: 0 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .clients-list li {
    margin: 10px 1%;
  }

  .afl-bg-img {
    padding: 155px 0;
    margin: 130px 0;
    background-image: url(/assets/Images/finloans-afl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .afl-heading {
    text-align: center;
    font-size: 30px;
    color: #FFF;
  }

  .afl-apply-now-btn {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }

  .afl-apply-now-btn a {
    padding: 10px 29%;
    background-color: #34D4D6;
    border: 1px solid #34D4D6;
    border-radius: 5px;
    color: #FFF;
    font-size: 15px;
    text-transform: capitalize;
  }

  .afl-apply-now-btn a {
    padding: 10px 2%;
    background-color: #34D4D6;
    border: 1px solid #34D4D6;
    border-radius: 5px;
    color: #FFF;
    font-size: 15px;
    text-transform: capitalize;
  }

  .footer-conrainer {
    padding: 0 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .ft-finloans {
    width: 100%;
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .ft-social-link-list {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .ft-services {
    margin: 20px 0;
  }

  .ft-services-list {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ft-useful-links {
    margin: 20px 0;
  }

  .useful-links {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ft-subscribe {
    margin: 20px 0;
  }

  .ft-subscribe h5 {
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
  }

  .ft-subscribe form {
    margin-top: 30px;
  }

  .ft-form-input {
    width: 54%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #98A0AD;
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-bottom {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/*media query for 1024px end here*/